@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto+Serif:wght@300;400;500;600&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Serif";
}

.App {
  text-align: center;
}
